server:
  port: 3343
spring:
  datasource:
    password: root
    url: jdbc:mysql://localhost:3306/javabatch
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL5Dialect
management:
  endpoints:
    web:
      exposure:
        include:
        - '*'
      base-path: /myactuator
  #info:
    #env:
      #enabled: true
logging:
  level:
    com:
      zensar: debug